* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f7f7f7;
  font-family: sans-serif;
}
#header {
  border-bottom: 1px solid #b5b7ba;
  background-color: #dfdfdf;
  height: 50px;
  text-align: center;
  padding-top: 18px;
}
#calc {
  width: 214px;
  margin-left: 30%;
  border: 1px solid #b5b7ba;
  padding: 10px;
}
#header a {
  color: #4d4d4d;
  font-size: 30px;
  font-weight: 100;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
#content {
  height: 806px;
  margin: 0 auto;
  min-height: calc(100vh - 140px);
}
#content h1 {
  text-align: center;
  color: #2e353d;
  font-size: 40px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
}
.result {
  width: 200px;
  height: 50px;
  text-align: right;
  font-size: 25px;
  padding: 5px;
  margin-bottom: 10px;
}
.button {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  font-size: 25px;
}
.bottom {
  width: 104px;
}
#footer {
  background-color: #434445;
  height: 140px;
  text-align: center;
  color: #a4a4a4;
  font-size: 20px;
  padding-top: 50px;
}
